@charset "utf-8";

#navigation li {
	font: 22px Arial;
	display: inline-block;
	list-style-type: none;
	border-radius: 10;
	border-style: none;
	border-width: medium;
	float: none;
}
#navigation a {
	padding: 5px 20px;
	background-color: #09F;
	color: #FFF;
	text-decoration: none;
}
#navigation a:hover {
	background-color: #f90;
	color: #666;
}
.subnav {
	display: none;
}

#navigation ul li:hover ul.subnav {
	display: block;
	position: absolute;
	float: left;
	text-align: left;
}
#navigation ul li .subnav li {
	display: block;
	margin-left: -40px;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}
header {
	text-align: center;
}

body {
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;
	background-clip: border-box;
	background-attachment: fixed;
	text-align: center;
}

p {
	text-align: left;

}
